.item{
    margin-top: 10px;
    padding-top: 10px;
    $table-cell-padding-y:        .5rem;
}

.purple{
    background-color:#D8BFD8;
}

.not-purple{
    background-color: #DA70D6;
}

.not-purple-1{
    background-color: #00FA9A;
}